[user]
    name = Martynas Pumputis
    email = m@lambda.lt
[color]
    branch = auto
    diff = auto
    status = auto
    ui = true
[merge]
    tool = vimdiff
    renamelimit = 4000
[push]
    default = current
[core]
    editor = nvim
[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.fastmail.com
    smtpServerPort = 587
    smtpUser = m@lambda.lt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    dft = difftool
[diff]
	tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
