[user]
    name = Martynas Pumputis
    email = martynasp@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
    ui = true
[merge]
    tool = vimdiff
[push]
    default = current
[core]
    editor = vim
