[user]
    name = Martynas Pumputis
    email = m@lambda.lt
[color]
    branch = auto
    diff = auto
    status = auto
    ui = true
[push]
    default = current
[core]
    editor = nvim
    excludesfile = /home/brb/.gitignore
[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.fastmail.com
    smtpServerPort = 587
    smtpUser = m@lambda.lt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    dft = difftool
[pager]
    difftool = true
[init]
	defaultBranch = main

[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[merge]
    tool = nvimmerge
[mergetool]
    hideResolved = true
[mergetool "nvimmerge"]
    cmd = nvim -d "$MERGED" "$BASE" "$LOCAL" "$REMOTE"


